.my-class {
    color: red;
    border: 1px solid blue;
    background-color: lightblue;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}
.id-1st {
    color: green;
    background-color: #FFFFFF;
    padding: 0.5em;
    text-align: left;
}
.id-2nd {
    border: 2px solid green;
    color: blue;
    padding: 0.5em;
    background-color: #F5F1F1;
    text-align: left;
}
